Repository ethz-asl/wavemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, cpplint, cppcheck, xmllint

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  cppcheck: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  xmllint: ((any of: (package.xml)$) or (any of: \.(launch)$)) or (any of: \.(urdf)$)

Address CI warnings
  libraries/wavemap/include/wavemap/config/impl/config_base_inl.h
  libraries/wavemap/test/src/data_structure/test_volumetric_octree.cc
Due: clang-format, cpplint, cppcheck

Address CI warnings about empty variadic macro argument
  libraries/wavemap/include/wavemap/config/impl/config_base_inl.h
Due: clang-format, cpplint, cppcheck

Always log GLOG output to stderror with color
  ros/wavemap_ros/app/rosbag_processor.cc
  ros/wavemap_ros/app/server_node.cc
  ros/wavemap_ros/launch/rosbag_processor.launch
  ros/wavemap_ros/launch/wavemap_server.launch
Due: clang-format, cpplint, cppcheck, xmllint

Update config structure and issue correct warnings for missing params
  ros/wavemap_ros/config/ouster_os0.yaml
  ros/wavemap_ros/src/input_handler/input_handler_factory.cc
  ros/wavemap_ros/src/wavemap_server.cc
Due: clang-format, cpplint, cppcheck

Add option to republish the projected range image for debugging/tuning
  ros/wavemap_ros/config/ouster_os0.yaml
  ros/wavemap_ros/config/pico_monstar.yaml
  ros/wavemap_ros/config/wavemap_server.rviz
  ros/wavemap_ros/include/wavemap_ros/input_handler/input_handler.h
  ros/wavemap_ros/src/input_handler/depth_image_input_handler.cc
  ros/wavemap_ros/src/input_handler/input_handler.cc
  ros/wavemap_ros/src/input_handler/livox_input_handler.cc
  ros/wavemap_ros/src/input_handler/pointcloud_input_handler.cc
Due: clang-format, cpplint, cppcheck

Implement fallbacks for intrinsics that are not available on ARM
  libraries/wavemap/include/wavemap/common.h
  libraries/wavemap/include/wavemap/data_structure/chunked_ndtree/impl/chunked_ndtree_inl.h
  libraries/wavemap/include/wavemap/data_structure/ndtree/impl/ndtree_inl.h
  libraries/wavemap/include/wavemap/data_structure/volumetric/impl/hashed_chunked_wavelet_octree_block_inl.h
  libraries/wavemap/include/wavemap/data_structure/volumetric/impl/hashed_wavelet_octree_block_inl.h
  libraries/wavemap/include/wavemap/data_structure/volumetric/impl/volumetric_octree_inl.h
  libraries/wavemap/include/wavemap/data_structure/volumetric/impl/wavelet_octree_inl.h
  libraries/wavemap/include/wavemap/indexing/impl/ndtree_index_inl.h
  libraries/wavemap/include/wavemap/indexing/index_conversions.h
  libraries/wavemap/include/wavemap/indexing/ndtree_index.h
  libraries/wavemap/include/wavemap/utils/bit_manipulation.h
  libraries/wavemap/include/wavemap/utils/morton_encoding.h
  libraries/wavemap/src/data_structure/volumetric/hashed_chunked_wavelet_octree_block.cc
  libraries/wavemap/src/data_structure/volumetric/hashed_wavelet_octree_block.cc
  libraries/wavemap/src/integrator/projective/coarse_to_fine/hashed_chunked_wavelet_integrator.cc
  libraries/wavemap/test/src/indexing/test_index_conversions.cc
  libraries/wavemap/test/src/indexing/test_ndtree_index.cc
  libraries/wavemap/test/src/utils/test_bit_manipulation.cc
  ros/wavemap_ros_conversions/src/map_msg_conversions.cc
Due: clang-format, cpplint, cppcheck

Explicitly find and link OpenCV to avoid issues on Jetson
  ros/wavemap_ros/CMakeLists.txt
Due: none

Draft readme
  .pre-commit-config.yaml
  README.md
Due: none

Improve readme
  README.md
Due: none

Add cover image and remove unnecessary deps
  README.md
  tooling/vcstool/wavemap_https.yml
  tooling/vcstool/wavemap_ssh.yml
Due: none

Re-enable deployment of docs to GitHub pages
  .github/workflows/ci.yml
  README.md
  docs/index.rst
  docs/pages/performance.rst
Due: none

Only deploy docs for main branch
  .github/workflows/ci.yml
Due: none

Update README.md
  README.md
Due: none

Generalize undistortion from Livox to generic point cloud inputs
  .github/workflows/ci.yml
  ros/wavemap_ros/CMakeLists.txt
  ros/wavemap_ros/include/wavemap_ros/input_handler/livox_input_handler.h
  ros/wavemap_ros/include/wavemap_ros/input_handler/pointcloud_undistorter.h
  ros/wavemap_ros/src/input_handler/livox_input_handler.cc
  ros/wavemap_ros/src/input_handler/pointcloud_undistorter.cc
Due: clang-format, cpplint, cppcheck

Merge pointcloud integrators to reduce code duplication
  ros/wavemap_ros/CMakeLists.txt
  ros/wavemap_ros/app/rosbag_processor.cc
  ros/wavemap_ros/include/wavemap_ros/input_handler/depth_image_input_handler.h
  ros/wavemap_ros/include/wavemap_ros/input_handler/input_handler.h
  ros/wavemap_ros/include/wavemap_ros/input_handler/livox_input_handler.h
  ros/wavemap_ros/include/wavemap_ros/input_handler/pointcloud_input_handler.h
  ros/wavemap_ros/src/input_handler/depth_image_input_handler.cc
  ros/wavemap_ros/src/input_handler/input_handler.cc
  ros/wavemap_ros/src/input_handler/input_handler_factory.cc
  ros/wavemap_ros/src/input_handler/livox_input_handler.cc
  ros/wavemap_ros/src/input_handler/pointcloud_input_handler.cc
Due: clang-format, cpplint, cppcheck

Finish implementing generic pointcloud undistortion
  libraries/wavemap/include/wavemap/data_structure/pointcloud.h
  libraries/wavemap/include/wavemap/integrator/projective/coarse_to_fine/hierarchical_range_bounds.h
  libraries/wavemap/test/src/integrator/test_pointcloud_integrators.cc
  ros/wavemap_ros/app/rosbag_processor.cc
  ros/wavemap_ros/include/wavemap_ros/input_handler/depth_image_input_handler.h
  ros/wavemap_ros/include/wavemap_ros/input_handler/generic_stamped_pointcloud.h
  ros/wavemap_ros/include/wavemap_ros/input_handler/impl/pointcloud_input_handler_impl.h
  ros/wavemap_ros/include/wavemap_ros/input_handler/pointcloud_input_handler.h
  ros/wavemap_ros/include/wavemap_ros/input_handler/pointcloud_undistorter.h
  ros/wavemap_ros/src/input_handler/depth_image_input_handler.cc
  ros/wavemap_ros/src/input_handler/pointcloud_input_handler.cc
  ros/wavemap_ros/src/input_handler/pointcloud_undistorter.cc
  ros/wavemap_ros_conversions/include/wavemap_ros_conversions/time_conversions.h
Due: clang-format, cpplint, cppcheck

Draft online motion undistortion for Ousters
  libraries/wavemap/include/wavemap/config/type_selector.h
  libraries/wavemap/src/config/unit_conversions.cc
  ros/wavemap_ros/config/other_packages/fast_lio_ouster_os0.yaml
  ros/wavemap_ros/config/ouster_os0.yaml
  ros/wavemap_ros/config/wavemap_server.rviz
  ros/wavemap_ros/include/wavemap_ros/input_handler/generic_stamped_pointcloud.h
  ros/wavemap_ros/include/wavemap_ros/input_handler/impl/pointcloud_input_handler_impl.h
  ros/wavemap_ros/include/wavemap_ros/input_handler/pointcloud_input_handler.h
  ros/wavemap_ros/launch/datasets/newer_college/newer_college_os0_cloister.launch
  ros/wavemap_ros/src/input_handler/pointcloud_input_handler.cc
Due: clang-format, cpplint, cppcheck, xmllint

Update launchers to support Newer College bags without preprocessing
  ros/wavemap_ros/config/other_packages/fast_lio_livox_mid360.yaml
  ros/wavemap_ros/config/other_packages/fast_lio_ouster_os0.yaml
  ros/wavemap_ros/config/ouster_os0.yaml
  ros/wavemap_ros/config/wavemap_server.rviz
  ros/wavemap_ros/launch/datasets/newer_college/newer_college_os0_base.launch
  ros/wavemap_ros/launch/datasets/newer_college/newer_college_os0_cloister.launch
  ros/wavemap_ros/launch/datasets/newer_college/newer_college_os0_math.launch
  ros/wavemap_ros/launch/datasets/newer_college/newer_college_os0_mine.launch
  ros/wavemap_ros/launch/datasets/newer_college/newer_college_os0_park.launch
  ros/wavemap_ros/src/input_handler/pointcloud_input_handler.cc
Due: clang-format, cpplint, cppcheck, xmllint

Improve handling of stale pointclouds
  ros/wavemap_ros/config/ouster_os0.yaml
  ros/wavemap_ros/config/wavemap_server.rviz
  ros/wavemap_ros/src/input_handler/pointcloud_input_handler.cc
  ros/wavemap_ros_conversions/include/wavemap_ros_conversions/time_conversions.h
Due: clang-format, cpplint, cppcheck

Tune FastLIO to avoid falling behind on Newer College
  ros/wavemap_ros/launch/datasets/newer_college/newer_college_os0_base.launch
Due: xmllint

Attempt to fix GitHub Pages deployment errors in CI
  .github/workflows/ci.yml
Due: none

Fix optional compilation of callback for Livox pointclouds
  ros/wavemap_ros/src/input_handler/pointcloud_input_handler.cc
Due: clang-format, cpplint, cppcheck

Draft protobuf conversions
  CMakeLists.txt
  libraries/wavemap_file_conversions/CMakeLists.txt
  libraries/wavemap_file_conversions/include/CPPLINT.cfg
  libraries/wavemap_file_conversions/include/wavemap_file_conversions/map_conversions.h
  libraries/wavemap_file_conversions/include/wavemap_file_conversions/proto_utils.h
  libraries/wavemap_file_conversions/package.xml
  libraries/wavemap_file_conversions/proto/wavemap_file_conversions/Map.proto
  libraries/wavemap_file_conversions/src/map_conversions.cc
  libraries/wavemap_file_conversions/src/proto_utils.cc
Due: clang-format, cpplint, cppcheck, xmllint

Improve and add tests for proto conversions
  .pre-commit-config.yaml
  CMakeLists.txt
  libraries/wavemap/include/wavemap/data_structure/volumetric/wavelet_octree.h
  libraries/wavemap_file_conversions/CMakeLists.txt
  libraries/wavemap_file_conversions/include/wavemap_file_conversions/file_conversions.h
  libraries/wavemap_file_conversions/include/wavemap_file_conversions/proto_conversions.h
  libraries/wavemap_file_conversions/include/wavemap_file_conversions/proto_utils.h
  libraries/wavemap_file_conversions/proto/wavemap_file_conversions/Map.proto
  libraries/wavemap_file_conversions/src/file_conversions.cc
  libraries/wavemap_file_conversions/src/proto_conversions.cc
  libraries/wavemap_file_conversions/src/proto_utils.cc
  libraries/wavemap_file_conversions/test/src/test_proto_conversions.cc
  ros/wavemap_ros/src/wavemap_server.cc
  tooling/meta_packages/wavemap_all/package.xml
Due: clang-format, cpplint, cppcheck, xmllint

Add tests for file conversions
  libraries/wavemap_file_conversions/CMakeLists.txt
  libraries/wavemap_file_conversions/src/file_conversions.cc
  libraries/wavemap_file_conversions/test/src/test_file_conversions.cc
Due: clang-format, cpplint, cppcheck

Enable file saving in ROS server
  libraries/wavemap_file_conversions/CMakeLists.txt
  ros/wavemap_msgs/msg/MapEvaluationSummary.msg
  ros/wavemap_msgs/msg/PerformanceStats.msg
  ros/wavemap_ros/package.xml
  ros/wavemap_ros/src/wavemap_server.cc
Due: clang-format, cpplint, cppcheck, xmllint

Add further proto conversion tests
  libraries/wavemap_file_conversions/src/proto_conversions.cc
  libraries/wavemap_file_conversions/test/src/test_proto_conversions.cc
Due: clang-format, cpplint, cppcheck

Clean up launchers
  ros/wavemap_ros/launch/datasets/newer_college/newer_college_os0_base.launch
  ros/wavemap_ros/launch/datasets/newer_college/newer_college_os0_cloister.launch
  ros/wavemap_ros/launch/datasets/newer_college/newer_college_os0_math.launch
  ros/wavemap_ros/launch/datasets/newer_college/newer_college_os0_mine.launch
  ros/wavemap_ros/launch/datasets/newer_college/newer_college_os0_park.launch
  ros/wavemap_ros/src/wavemap_server.cc
Due: clang-format, cpplint, cppcheck, xmllint

Switch to proto2 syntax for broader compatibility
  libraries/wavemap_file_conversions/proto/wavemap_file_conversions/Map.proto
Due: none

Add protobuf_catkin dependency
  tooling/vcstool/wavemap_https.yml
  tooling/vcstool/wavemap_ssh.yml
Due: none

Add missing dep for protobuf_catkin to CI
  tooling/Dockerfile
Due: none

Remove unused include of deprecated msg
  ros/wavemap_ros/src/wavemap_server.cc
Due: clang-format, cpplint, cppcheck

Attempt to address CI error due to protobuf not freeing all on shutdown
  libraries/wavemap_file_conversions/test/src/test_file_conversions.cc
  libraries/wavemap_file_conversions/test/src/test_proto_conversions.cc
Due: clang-format, cpplint, cppcheck

Only shut the protobuf library down once in gtest
  libraries/wavemap_file_conversions/CMakeLists.txt
  libraries/wavemap_file_conversions/test/src/test_file_conversions.cc
  libraries/wavemap_file_conversions/test/src/test_main.cc
  libraries/wavemap_file_conversions/test/src/test_proto_conversions.cc
Due: clang-format, cpplint, cppcheck

Replace protobuf with tiny homegrown serializer
  CMakeLists.txt
  libraries/wavemap/include/wavemap/config/type_selector.h
  libraries/wavemap_file_conversions/CMakeLists.txt
  libraries/wavemap_file_conversions/include/wavemap_file_conversions/proto_conversions.h
  libraries/wavemap_file_conversions/proto/wavemap_file_conversions/Map.proto
  libraries/wavemap_file_conversions/src/proto_conversions.cc
  libraries/wavemap_file_conversions/test/src/test_main.cc
  libraries/wavemap_file_conversions/test/src/test_proto_conversions.cc
  libraries/wavemap_io/CMakeLists.txt
  libraries/wavemap_io/include/CPPLINT.cfg
  libraries/wavemap_io/include/wavemap_io/file_conversions.h
  libraries/wavemap_io/include/wavemap_io/impl/streamable_types_impl.h
  libraries/wavemap_io/include/wavemap_io/stream_conversions.h
  libraries/wavemap_io/include/wavemap_io/streamable_types.h
  libraries/wavemap_io/package.xml
  libraries/wavemap_io/src/file_conversions.cc
  libraries/wavemap_io/src/stream_conversions.cc
  libraries/wavemap_io/test/src/test_file_conversions.cc
  ros/wavemap_ros/package.xml
  ros/wavemap_ros/src/wavemap_server.cc
Due: clang-format, cpplint, cppcheck, xmllint

Remove protobuf from vcstool deps
  tooling/vcstool/wavemap_https.yml
  tooling/vcstool/wavemap_ssh.yml
Due: none

Update wavemap_all meta package with renamed wavemap_io
  tooling/meta_packages/wavemap_all/package.xml
Due: xmllint

Fix bug in HashedChunkedWaveletOctree bytestream conversion
  libraries/wavemap_io/src/stream_conversions.cc
  libraries/wavemap_io/test/src/test_file_conversions.cc
Due: clang-format, cpplint, cppcheck

Remove mesh visualization option (not mature enough yet)
  ros/wavemap_rviz_plugin/CMakeLists.txt
  ros/wavemap_rviz_plugin/include/wavemap_rviz_plugin/marching_cubes.h
  ros/wavemap_rviz_plugin/include/wavemap_rviz_plugin/visuals/mesh_visual.h
  ros/wavemap_rviz_plugin/include/wavemap_rviz_plugin/wavemap_map_display.h
  ros/wavemap_rviz_plugin/src/marching_cubes.cc
  ros/wavemap_rviz_plugin/src/visuals/mesh_visual.cc
  ros/wavemap_rviz_plugin/src/wavemap_map_display.cc
Due: clang-format, cpplint, cppcheck

Refurbish map to ROS msg conversions
  libraries/wavemap/include/wavemap/config/config_base.h
  libraries/wavemap/include/wavemap/config/type_selector.h
  libraries/wavemap/include/wavemap/data_structure/volumetric/hashed_chunked_wavelet_octree.h
  libraries/wavemap/include/wavemap/data_structure/volumetric/hashed_wavelet_octree.h
  libraries/wavemap/include/wavemap/data_structure/volumetric/wavelet_octree.h
  libraries/wavemap_io/src/stream_conversions.cc
  ros/wavemap_msgs/msg/HashedWaveletOctree.msg
  ros/wavemap_msgs/msg/HashedWaveletOctreeBlock.msg
  ros/wavemap_msgs/msg/Map.msg
  ros/wavemap_msgs/msg/Octree.msg
  ros/wavemap_ros/src/wavemap_server.cc
  ros/wavemap_ros_conversions/include/wavemap_ros_conversions/map_msg_conversions.h
  ros/wavemap_ros_conversions/src/map_msg_conversions.cc
Due: clang-format, cpplint, cppcheck
